



.tree {
  padding: 30px;
  font-family: "Segoe UI", sans-serif;
}

.tree-node {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.vertical-line {
  position: absolute;
  left: 24px;
  top: -20px;
  bottom: -20px;
  border-left: 2px dotted #cfcfcf;
}


.tree-node.last-node .vertical-line {
  bottom: 50%;
}


.horizontal-line {
  position: absolute;
  left: 24px;
  top: 50%;
  width: 28px;
  border-top: 2px dotted #cfcfcf;
}


.node-card {
  margin-left: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  padding: 8px 14px;
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  min-width: 170px;
}


.toggle {
  font-size: 18px;
  cursor: pointer;
}


.circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #7ed957;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


.circle.root {
  background: #4da3ff;
}


.node-text {
  flex: 1;
  font-size: 14px;
  font-weight: 500;
}


.add-btn {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  background: white;
  cursor: pointer;
}

.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: red;
  
}


.add-input {
  margin-left: 120px;
  margin-top: 6px;
  width: 160px;
  padding: 4px 6px;
}
